@import "tailwindcss";
@import "tw-animate-css";

:root {  
  --background: #57564F;  
  --foreground: #57564F;  
}

@theme {  
  --color-navbar: #57564F;
  --color-text: #F8F3CE;
  --color-button: #F8F3CE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

body h1, p {
  color: var(--color-text);
}


